<!-- your html code here -->
<section class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2 class="fw-bold mb-3">Contact</h2>
                <p class="lead mb-4 fs-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit dicta animi optio illo, maiores repellat quam soluta impedit hic a maxime dolore distinctio beatae deserunt cum explicabo voluptatum reiciendis eos!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto"> 
                <div class="card shadow-sm my-3 border">
                    <div class="card-body bg-light p-4">
                        <!--Form start-->
                        <form action="">
                            <div class="row g-3">
                                <!--Email start-->
                                <div class="col-sm-3 text-sm-end fw-semibold align-self-center">
                                    <label for="email" class="form-label mb-0 fw-bold">Your E-mail</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="email" id="email" class="form-control" placeholder="Your email">
                                </div>
                                <!--Email end-->

                                <!--Message start-->
                                <div class="col-sm-3 text-sm-end fw-semibold align-self-start">
                                    <label for="message" class="form-label mb-0 fw-bold">Your message</label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea rows="4" id="message" class="form-control" placeholder="Please enter your message here..."></textarea>
                                </div>
                                <!--Message end-->

                                <!--Button start-->
                                <div class="col-12">
                                    <div class="d-flex justify-content-end">
                                        <button class="btn btn-primary px-4">Submit</button>
                                    </div>
                                </div>
                                <!--Button end-->
                            </div>
                        </form>
                        <!--Form end-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>