<!-- your html code here -->
<div class="container portfolio-main-container">
    <h4>Contact</h4>
    <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam provident beatae dolor quae earum consequuntur quisquam repellendus quos sit. Minus in esse labore, dicta reiciendis modi consequatur.</span>
    <!--Form start-->
        <form action="submit">
            <div class="container d-flex justify-content-end">
                <div class="row">
                    <div class="col-md-9">
                         <label for="email" class="form-label">Your E-mail</label>
                        <input type="email" id="email" class="form-control">
                    </div>
                   
                </div>
                
            </div>
        </form>
    <!--Form end-->
</div>
