<!-- your html code here -->
<div class="container contact-main-container d-flex justify-content-center">
    <div class="container title-container">
        <h4>Contact</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio totam provident beatae dolor quae earum consequuntur quisquam repellendus quos sit. Minus in esse labore, dicta reiciendis modi consequatur.</p>
    </div>
    <!--Form start-->
        <form action="submit">
            <div class="container d-flex justify-content-center">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Submit</a>
                    </div>
                </div>     
            </div>
        </form>
    <!--Form end-->
</div>
