<!-- your html code here -->
 <div class="container">
    <div class="row">
        <div class="col-12 col-sm-4 ps-4 px-0 w-100">
            <h4>Portfolio</h4>
            <p  class="p-0 me-0 d-flex justify-content-center" style="font-size: medium;">Donec ullarcomper nulla nom metus auctor fringilla. Vestibulum id igula porfa felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 col-md-4 pb-3">
                <div class="card">
                    <img src="https://fastly.picsum.photos/id/144/700/400.jpg?hmac=2JRn8cn4fXPbN5CfvJn5SaJaZTpofhPkVvLKjD_B0c4" class="object-fit-cover card-img-top img-fluid" alt="img 1">
                    <div class="card-body">
                        <h5 class="text-primary"><a href="#" style="text-decoration: none;">Project Name</a></h5>
                        <p class="card-text" style="font-size: small;">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 pb-3">
                <div class="card">
                    <img src="https://fastly.picsum.photos/id/85/700/400.jpg?hmac=1Yma56CcAVRzANNpmlsl2crnUVV1BDEKF1xHMXuSkp0" class="object-fit-cover card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="text-primary"><a href="#" style="text-decoration: none;">Project Name</a></h5>
                        <p class="card-text" style="font-size: small;">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 pb-3">
                <div class="card ms-0 ps-0">
                    <img src="https://fastly.picsum.photos/id/71/700/400.jpg?hmac=guANE2HPNx6akGyko7NR8XW1e-CCrFzUXZ-RMFmtbj8" class="object-fit-cover card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="text-primary"><a href="#" style="text-decoration: none;">Project Name</a></h5>
                        <p class="card-text" style="font-size: small;">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div> 
            </div>                                
        </div>
    </div>

 </div>
