<!-- your html code here -->
 <div class="container" style="margin-bottom: 100px; margin-top: 100px;">
    <div class="row">
        <div class="col-12 col-sm-4 ps-4 px-0 w-100">
            <h4>Portfolio</h4>
            <p  class="p-0 me-0 d-flex justify-content-center" style="font-size: medium;">Donec ullarcomper nulla nom metus auctor fringilla. Vestibulum id igula porfa felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
    <!--ZONA DE LAS TARJETAS-->
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-12 col-md-4 pb-3">
                <div class="card shadow-sm">
                    <img class="object-fit-cover card-img-top img-fluid" style="height: 160px;" src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-equipo3-latam60/refs/heads/master/website/assets/img/big-project-image.png" alt="img 1">
                    <div class="card-body">
                        <h5 class="text-primary"><a href="#" style="text-decoration: none;">Project Name</a></h5>
                        <p class="card-text" style="font-size: small;">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 pb-3">
                <div class="card">
                    <img class="object-fit-cover card-img-top img-fluid" style="height: 160px;" src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-equipo3-latam60/refs/heads/master/website/assets/img/big-project-image.png" alt="...">
                    <div class="card-body">
                        <h5 class="text-primary"><a href="#" style="text-decoration: none;">Project Name</a></h5>
                        <p class="card-text" style="font-size: small;">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 pb-3">
                <div class="card ms-0 ps-0">
                    <img class="object-fit-cover card-img-top img-fluid" style="height: 160px;" src="https://raw.githubusercontent.com/4GeeksAcademy/exercise-collaborative-equipo3-latam60/refs/heads/master/website/assets/img/big-project-image.png" alt="...">
                    <div class="card-body">
                        <h5 class="text-primary"><a href="#" style="text-decoration: none;">Project Name</a></h5>
                        <p class="card-text" style="font-size: small;">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                    </div>
                </div> 
            </div>                                
        </div>
    </div>

 </div>
