<!-- your html code here -->
 <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-4 px-0 mx-0">
            <h5>Portfolio</h5>
            <p style="font-size: 35%;">Donec ullarcomper nulla nom metus auctor fringilla. Vestibulum id igula porfa felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>

            <!--<div class="container">-->
                <!--<div class="container">-->
                    <div class="row d-flex">
                        <div class="col-12 col-md-4 p-0 m-0">
                            <div class="card">
                                <img src="https://fastly.picsum.photos/id/718/200/200.jpg?hmac=__zLj3h3wgMNm3OM6xAOydBYFAw3V-LoIymGCluM0mY" class="object-fit-cover card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text" >Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 p-0 m-0">
                            <div class="card">
                                <img src="https://fastly.picsum.photos/id/718/200/200.jpg?hmac=__zLj3h3wgMNm3OM6xAOydBYFAw3V-LoIymGCluM0mY" class="object-fit-cover card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4 p-0 m-0">
                            <div class="card">
                                <img src="https://fastly.picsum.photos/id/718/200/200.jpg?hmac=__zLj3h3wgMNm3OM6xAOydBYFAw3V-LoIymGCluM0mY" class="object-fit-cover card-img-top img-fluid" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                                </div>
                            </div> 
                        </div>                                
                    </div>
                <!--</div>-->
            <!--</div>-->

 </div>


 <p>Hello, I'm the portfolio.html</p>
